name: {{cookiecutter.project_slug}} Automation

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create Docker Mounted Content
      run: |
        echo | ssh-keygen
        touch ${HOME}/.gitconfig
        touch ${HOME}/.gitconfig_global
    - name: Ensure File System is Writable by the Container
      run: |
        sudo chmod -R 777 .
    - name: Build Container
      run: |
        docker-compose build
        docker-compose up -d
    - name: Run Linter
      run: |
        docker-compose exec -T {{cookiecutter.project_slug}} bash -l -c 'scripts/commander.sh lint-validate'
    - name: Run Sec Test
      run: |
        docker-compose exec -T {{cookiecutter.project_slug}} bash -l -c 'scripts/commander.sh sectest'
    - name: Run Unit Tests
      run: |
        docker-compose exec -T {{cookiecutter.project_slug}} bash -l -c 'scripts/commander.sh test coverage'
